@font-face {
	font-family: 'FoundersGrotesk Light';
	src: url('fonts/FoundersGrotesk-Light.otf');
	src:
	local('FoundersGrotesk Light'),
	local('FoundersGrotesk-Light'),
	url('fonts/FoundersGrotesk-Light.otf')
	format('opentype');
	font-weight: light;
}
/*semibold version*/
@font-face {
	font-family: 'FoundersGrotesk Semibold';
	src: url('fonts/FoundersGrotesk-Semibold.otf');
	src:
	local('FoundersGrotesk Semibold'),
	local('FoundersGrotesk-Semibold'),
	url('fonts/FoundersGrotesk-Semibold.otf')
	format('opentype');
	font-weight: semibold;
}

@import "@material/elevation/mdc-elevation";
/* material desing symbols */
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 0;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

h2{
	font-family: 'FoundersGrotesk Semibold';
	font-size: 42px;
	font-weight: Semibold;
	color: #333333;
	letter-spacing: 0px;
	line-height: 40px;
}

h3{
	font-family: 'FoundersGrotesk Semibold';
	font-size: 14px;
	color: #333333;
	letter-spacing: .03em;
	line-height: 0;
}


body {
	font-family: 'FoundersGrotesk Light';
	font-size: 18px;
	font-weight: light;
	color: #333333;
	letter-spacing: 0px;
	line-height: 35px;

	margin: 0 5% 0 5%;
	padding-bottom: 0px;
	padding-top: 0px;
	background-color: #EBEBEB;
}

ul {
	list-style: none;
}

li:hover{
	/* opacity: 1; */
	cursor: pointer;
}

a {
  color:inherit;
  text-decoration: none;
 }

#block{
	width: 100%;
	/* position: relative; */
	top: 0;
	left: 0;
	margin-left: 0;
	padding-left:0;
}

.spacer{
	height: 3000px;
}

.navBox{
	position: fixed;
	top: 0;
	left: 0;
	height: 100px;
	/* min-height: 50px; */
	width: 100%;
	clear: both;
	margin: 0 0 0 0;
	background: #FFFFFF;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}


.navBar{
	display: flex;
	flex: 200px;
	font-family: 'FoundersGrotesk Semibold';
	font-size: 14px;
	font-weight: Semibold;
	color: #333333;
	text-align: right;
	letter-spacing: 0.05em;
	line-height: 25px;
	align-items: center;


	margin: 0 0 0 0;
	padding-left: 5%;
	padding-right: 5%;
	height: 100px;
}

.navLogo{
	flex: 5;
	margin-right: auto;
	text-align: left;
	opacity: 1;
}

#enneadLogo{
	width:120px;
	height:26px;
}

.navActive{
	margin-bottom: 0px;
	display: inline-block;
	text-decoration: none;
	line-height: 0.85;
	opacity: 1;
}

.navActive::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #000;
	transition: width .3s;
}

.navActive:hover::after {
	width: 100%;

}

.navLink{
	flex: 1;
	opacity: .5;
	text-decoration: none;
	margin-bottom: 0px;
	display: inline-block;
	line-height: 0.85;
	transition: opacity .35s ease-out;
	-moz-transition: opacity .35s ease-out;
	-webkit-transition: opacity .35s ease-out;
	-o-transition: opacity .35s ease-out;
}

.backButton{
	position: fixed;
	display: flex;
	vertical-align: middle;
	align-items: center;
	cursor: pointer;

	top: 13%;
	left: 5.5%;
	/* padding-left: 3%; */
}


.backButton:hover #backArrow{
	transform: translate3d(-12px, 0px, 0px);
}

#backArrow{
	padding-left: 20px;
	transform: translate3d(0px, 0px, 0px);
	transition: transform .35s ease-in-out;
}

.progressBar{
	display: flex;
	flex-direction: column;
	position: fixed;
	align-items: center;

	margin: 0;
	top: 25%;
	left: 5%;
	padding-left: 3%;
	opacity: .8;
	transition: opacity .2s ease-out;
	-moz-transition: opacity .2s ease-out;
	-webkit-transition: opacity .2s ease-out;
	-o-transition: opacity .2s ease-out;
}

.progressBar:hover{
	opacity: 1;
}

.progressStep{
	width: .38em;
	height: .38em;
	border-radius: .76em;
	background: #333333;
	margin-bottom: 10.82em;
	margin-left: .1em;
}

.progressStep:hover{
	cursor: pointer;
}

.progressStep::before{
	content: '';
	position: absolute;
	top: 0;
	right: .15em;
	width: 1px;
	height: 34em;
	background: #333333;
	z-index: -1;
}

.progressStep:first-child::before {
	display: none;
}

.progressActive{
	width: .6em;
	height: .6em;
	border-radius: 1.2em;
	background: #333333;
	margin-bottom: 9em;
	opacity: .5;
}

.progressBarLinks{
	display: flex;
	flex-direction: column;
	position: fixed;
	align-items: center;

	margin: 0;
	top: 24.5%;
	left: 4.65%;
	padding-left: 3%;
	transition: opacity .2s ease-out;
	-moz-transition: opacity .2s ease-out;
	-webkit-transition: opacity .2s ease-out;
	-o-transition: opacity .2s ease-out;

	z-index: 1
}

.progressLink{
	width: 1.2em;
	height: 1.2em;
	border-radius: 2.4em;
	opacity: 0;
	background: #333333;
	margin-bottom: 9.95em;
	margin-right: .1em;
	z-index: 1;
}

.activeLink{
	width: 1.2em;
	height: 1.2em;
	border-radius: 2.4em;
	opacity: .25;
	background: #333333;
	margin-bottom: 9.95em;
	margin-right: .1em;
}

#prevSection{
	opacity: .2;
}

.progressCounter{
	position:absolute;
	display: inline;

	font-family: 'FoundersGrotesk light';
	font-size: 14px;
	color: #333333;
	letter-spacing: .03em;
	line-height: 0;
	white-space: nowrap;
	float: left;
	bottom: -40px;
	left: -40px;
	/* padding-bottom: 7.23em; */
	vertical-align: middle;

	z-index: 2;

	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
}


.material-icons{
	vertical-align: middle;
	font-size: 2px;
	padding-bottom: 2px;
}

.scrollingContainer{
	display: flex;
	flex-wrap: wrap;
	height: 60vh;
	/* min-width: 260px;*/
	margin-top: 7%;
	margin-left: 0;
	padding-bottom: auto;
	padding-left: 0;
	padding-right: 3%;
	text-align: left;
	align-items: center;
}

.scrollingDiagram{
	top: 30%;
	left: 100px;
	position: fixed;
	/* flex: 5; */
	/* align-items: left; */
}

#diagramFront{
	top: 20%;
	left: 180px;
	width:55%;
	height: auto;
	position: fixed;
	z-index: -1;
}

#diagramBack{
	top: 20%;
	left: 180px;
	width:55%;
	height: auto;
	position: fixed;
	z-index: -2;
}


.scrollingText{
	position: fixed;
	top: 30%;
	width: 22.5%;
	right: 100px;
}

::-webkit-scrollbar {
	display: none;
}

@media all and (max-width:480px) {
	h2 {
		font-size: 22px;
		line-height: 22px;}

	h3 {
		font-size: 12px;}

	body{
		font-size: 14px;
		line-height: 20px;}

	#diagramFront{
		top: 62%;
		left: 7.5%;
		width:82.5%;
		height: auto;
		position: fixed;
		z-index: -1;}

			#diagramBack{
				top: 62%;
				left: 7.5%;
				width:82.5%;
				height: auto;
				position: fixed;
				z-index: -2;
			}

			.scrollingText{
				position:fixed;
				top: 22.5%;
				/* width: 568px; */
				width: 78%;
				padding-left: 2.5%;
				padding-right: 2.5%;
				right: auto;
			}

			.progressBar{
				display: none;
			}
			.progressBarLinks{
				display: none;
			}

		.progressCounter{
			display: none;
		}

		.navQuote{
			display: none;
		}


		#enneadLogo{
			width:80px;
			height:auto;
		}

		.navBar{
			height: 70px;
		}

		.navBox{
			height: 70px;
		}

	}

	@media all and (max-width:600px) and  (min-width:481px){
		h2 {
			font-size: 28px;
			line-height: 24px;}
		h3 {
				font-size: 16px;}
		body{
					font-size: 16px;
					line-height: 20px;
				}
				.progressBar{
					display: none;
				}
				.progressBarLinks{
					display: none;
				}

				.progressCounter{
					display: none;
				}

				#enneadLogo{
					width:120px;
					height:26px;
				}
			}

			@media all and (max-width:768px) and (min-width:601px){
				h2 {
					font-size: 32px;
					line-height: 30px;}
					h3 {
						font-size: 18px;}
						body{
							font-size: 18px;
							line-height: 32px;
						}

						#diagramFront{
							top: 52%;
							left: 7.5%;
							width:82.5%;
							height: auto;
							position: fixed;
							z-index: -1;
						}

						#diagramBack{
							top: 52%;
							left: 7.5%;
							width:82.5%;
							height: auto;
							position: fixed;
							z-index: -2;
						}

						.scrollingText{
							position:fixed;
							top: 22.5%;
							/* width: 568px; */
							width: 78%;
							padding-left: 2.5%;
							padding-right: 2.5%;
							right: auto;
						}

						.progressBar{
							display: none;
						}
						.progressBarLinks{
							display: none;
						}

						.progressCounter{
							display: none;
						}

					.navBar{
						height: 90px;
					}

					.navBox{
						height: 90px;
					}

					#enneadLogo{
						width:120px;
						height:26px;
					}
				}

					@media all and (max-width:1200px) and (min-width:769px){
						h2 {
							font-size: 32px;
							line-height: 30px;}
							h3 {
								font-size: 12px;}
								body{
									font-size: 14px;
									line-height: 30px;
								}

								.navBar{
									height: 90px;
								}

								.navBox{
									height: 90px;
								}

								#diagramFront{
									top: 30%;
									left: 120px;
									width:55%;
									height: auto;
									position: fixed;
									z-index: -1;
								}

								#diagramBack{
									top: 30%;
									left: 120px;
									width:55%;
									height: auto;
									position: fixed;
									z-index: -2;
								}

								.scrollingText{
									position: fixed;
									top: 27%;
									width: 22.5%;
									right: 100px;
								}

								.progressCounter{
									display: none;
								}

								#enneadLogo{
									width:120px;
									height:26px;
								}
							}

							@media all and (max-width:1600px) and (min-width:1201px) {
								h2 {
									font-size: 42px;
									line-height: 40px;}
									h3 {
										font-size: 14px;}
										body{
											font-size: 18px;
											line-height: 35px;
										}
										#diagramFront{
											top: 30%;
											left: 150px;
											width:55%;
											height: auto;
											position: fixed;
											z-index: -1;
										}

										#diagramBack{
											top: 30%;
											left: 150px;
											width:55%;
											height: auto;
											position: fixed;
											z-index: -2;
										}

										#enneadLogo{
											width:120px;
											height:26px;
										}
									}
