@font-face {
	font-family: 'FoundersGrotesk';
	src: url('fonts/FoundersGrotesk-Light.otf');
	src:
	local('FoundersGrotesk Light'),
	local('FoundersGrotesk-Light'),
	url('fonts/FoundersGrotesk-Light.otf')
	format('opentype');
	font-weight: light;
}
/*semibold version*/
@font-face {
	font-family: 'FoundersGrotesk';
	src: url('fonts/FoundersGrotesk-Semibold.otf');
	src:
	local('FoundersGrotesk Semibold'),
	local('FoundersGrotesk-Semibold'),
	url('fonts/FoundersGrotesk-Semibold.otf')
	format('opentype');
	font-weight: Semibold;
}
/* material desing symbols */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


body {
	font-family: 'FoundersGrotesk';
	font-size: 36px;
	font-weight: Semibold;
	color: #333333;
	margin: 0 0 0 0;
	padding-bottom: 0px;
	padding-top: 0px;
	letter-spacing: 0px;

	background-color: #EBEBEB;
}

ul {
	padding: 0;
	list-style: none;
}

li {
	padding-left: 20px;
	padding-right: 20px;
	flex: 1;
	opacity: .5;
}

.navBar{
	display: flex;
	flex: 200px;
	font-family: 'FoundersGrotesk';
	font-size: 18px;
	font-weight: Semibold;
	color: #333333;
	letter-spacing: 0.05em;
	line-height: 25px;
	align-items: center;

	margin: 0 0 0 0;
	padding-left: 53px;
	padding-right: 53px;
	height: 155px;

	background: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.navLogo{
	flex: 3;
	margin-right: auto;
		opacity: 1;
}

.navActive{
	opacity: 1;
}
