@font-face {
	font-family: 'FoundersGrotesk Light';
	src: url('fonts/FoundersGrotesk-Light.otf');
	src:
	local('FoundersGrotesk Light'),
	local('FoundersGrotesk-Light'),
	url('fonts/FoundersGrotesk-Light.otf')
	format('opentype');
	font-weight: light;
}
/*semibold version*/
@font-face {
	font-family: 'FoundersGrotesk Semibold';
	src: url('fonts/FoundersGrotesk-Semibold.otf');
	src:
	local('FoundersGrotesk Semibold'),
	local('FoundersGrotesk-Semibold'),
	url('fonts/FoundersGrotesk-Semibold.otf')
	format('opentype');
	font-weight: semibold;
}
/* material desing symbols */
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 0;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

h2{
	font-family: 'FoundersGrotesk Semibold';
	font-size: 42px;
	font-weight: Semibold;
	color: #333333;
	letter-spacing: 0px;
	line-height: 45px;
}

h3{
	font-family: 'FoundersGrotesk Semibold';
	font-size: 12px;
	color: #333333;
	letter-spacing: .03em;
	line-height: 0;
}


body {
	font-family: 'FoundersGrotesk Light';
	font-size: 18px;
	font-weight: light;
	color: #333333;
	letter-spacing: 0px;
	line-height: 35px;

	margin: 0 5% 0 5%;
	padding-bottom: 0px;
	padding-top: 0px;
	background-color: #EBEBEB;
}

ul {
	list-style: none;
}

li:hover{
	opacity: 1;
	cursor: pointer;
}

.navBox{
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	clear: both;
	margin: 0 0 0 0;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
	z-index: -1;
}

.navBar{
	display: flex;
	flex: 200px;
	font-family: 'FoundersGrotesk Semibold';
	font-size: 14px;
	font-weight: Semibold;
	color: #333333;
	text-align: right;
	letter-spacing: 0.05em;
	line-height: 25px;
	align-items: center;


	margin: 0 0 0 0;
	padding-left: 3%;
	padding-right: 3%;
	height: 100px;
}

.navLogo{
	flex: 5;
	margin-right: auto;
	text-align: left;
	opacity: 1;
}

.navActive{
	margin-bottom: 0px;
	display: inline-block;
	text-decoration: none;
	line-height: 0.85;
	opacity: 1;
}

.navActive::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #000;
	transition: width .3s;
}

.navActive:hover::after {
	width: 100%;

}

.navLink{
	flex: 1;
	opacity: .5;
	text-decoration: none;
	margin-bottom: 0px;
	display: inline-block;
	line-height: 0.85;
	transition: opacity .35s ease-out;
	-moz-transition: opacity .35s ease-out;
	-webkit-transition: opacity .35s ease-out;
	-o-transition: opacity .35s ease-out;
}

.backButton{
	position: absolute;
	display: flex;
	vertical-align: middle;
	align-items: center;
	cursor: pointer;

	top: 13%;
	left: 5%;
	padding-left: 3%;
	opacity: .75;
	transition: opacity .2s ease-out;
	-moz-transition: opacity .2s ease-out;
	-webkit-transition: opacity .2s ease-out;
	-o-transition: opacity .2s ease-out;
}

.backButton:hover{
	opacity: 1
}

.backButton:hover #backArrow{
	transform: translate3d(-12px, 0px, 0px);
}

#backArrow{
	padding-left: 20px;
	transform: translate3d(0px, 0px, 0px);
	transition: transform .35s ease-in-out;
}

.progressBar{
	display: flex;
	flex-direction: column;
	position: absolute;
	align-items: center;

	margin: 0;
	top: 23%;
	left: 5%;
	padding-left: 3%;
	opacity: .8;
	transition: opacity .2s ease-out;
	-moz-transition: opacity .2s ease-out;
	-webkit-transition: opacity .2s ease-out;
	-o-transition: opacity .2s ease-out;
}

.progressBar:hover{
	opacity: 1;
}

.progressStep{
	width: .4em;
	height: .4em;
	border-radius: 1em;
	background: #333333;
	margin-bottom: 8em;
}

.progressStep:hover{
	cursor: pointer;
}

.progressStep::before{
	content: '';
	position: absolute;
	top: 0;
	right: .15em;
	width: 1px;
	height: 34em;
	background: #333333;
	z-index: -1;
}

.progressStep:first-child::before {
	display: none;
}

.progressActive{
	width: .6em;
	height: .6em;
	border-radius: 1em;
	background: #333333;
	margin-bottom: 9em;
	opacity: .5;
}

.progressBarLinks{
	display: flex;
	flex-direction: column;
	position: absolute;
	align-items: center;

	margin: 0;
	top: 22.5%;
	left: 4.65%;
	padding-left: 3%;
	transition: opacity .2s ease-out;
	-moz-transition: opacity .2s ease-out;
	-webkit-transition: opacity .2s ease-out;
	-o-transition: opacity .2s ease-out;

	z-index: -1
}

.progressLink{
	width: 1.2em;
	height: 1.2em;
	border-radius: 2em;
	opacity: 0;
	background: #333333;
	margin-bottom: 7.2em;
}

#activeLink{
	opacity: .25;
}

.progressCounter{
	position:absolute;
	display: inline;

	font-family: 'FoundersGrotesk light';
	font-size: 14px;
	color: #333333;
	letter-spacing: .03em;
	line-height: 0;
	white-space: nowrap;
	float: left;
	top: 37.5em;
	padding-bottom: 5em;
	vertical-align: middle;

	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
}

.material-icons{
	vertical-align: middle;
	padding-bottom: 2px;
}

.scrollingContainer{
	display: flex;
	flex-wrap: wrap;
	height: 60vh;
	/* min-width: 260px;*/
	margin-top: 100px;
	padding-bottom: auto;
	padding-left: 3%;
	padding-right: 3%;
	text-align: right;
	align-items: center;
}

.scrollingDiagram{
	padding-top: 150px;
	padding-left: 8%;
	padding-right: 12%;
	position: relative;
	flex: 5;
}

.scrollingText{
	padding-top: 80px;
	padding-bottom: 40px;
	padding-left: 60px;
	flex: 2 120px;
}
