.spacer{
	height: 700px;
}

.progressStep{
	margin-bottom: 8.1em;
}

.progressStep::before{
	height: 34em;
}

.progressActive{
	margin-bottom: 9em;
}

.progressLink{
	margin-bottom: 7.23em;
}

.activeLink{
	margin-bottom: 7.23em;
}

.scrollingContainer{
	display: inline-block;
	position: fixed;
	top: 23%;
	left: 300px;
	width:45%;
}

#diagramBack{
	top: 23%;
	left: 300px;
	width:45%;
	height: auto;
	position: fixed;
	z-index: -2;}

.box1{
	visibility: hidden;
}


@media all and (max-width:480px) {
	#diagramFront{
		top: 62%;
		left: 7.5%;
		width:82.5%;
		height: auto;
		position: fixed;
		z-index: -1;}

	#diagramBack{
		top: 62%;
		left: 7.5%;
		width:82.5%;
		height: auto;
		position: fixed;
		z-index: -2;}

	}

@media all and (max-width:600px) and  (min-width:481px){


	}

@media all and (max-width:768px) and (min-width:601px){


		#diagramFront{
			top: 45%;
			left: 7.5%;
			width:82.5%;
			height: auto;
			position: fixed;
			z-index: -1;
		}

		#diagramBack{
			top: 45%;
			left: 7.5%;
			width:82.5%;
			height: auto;
			position: fixed;
			z-index: -2;
		}

				}

	@media all and (max-width:1200px) and (min-width:769px){

		.scrollingContainer{
			display: inline-block;
			position: fixed;
			top: 30%;
			left: 120px;
			width:55%;
		}

		#diagramFront{
			top: 0px;
			left: 0px;
			z-index: -1;
		}

		#diagramBack{
			top: 30%;
			left: 120px;
			width:55%;
			height: auto;
			position: fixed;
			z-index: -2;
		}

		.hotspotContainer {
			top: 30%;
			left: 120px;
			position: fixed;
			z-index: 1;
		}
	}

@media all and (max-width:1600px) and (min-width:1201px) {

		.scrollingContainer{
			display: inline-block;
			position: fixed;
			top: 30%;
			left: 150px;
			width:55%;
		}

		#diagramFront{
			top: 0px;
			left: 0px;
			z-index: -1;
		}

		#diagramBack{
			top: 30%;
			left: 150px;
			width:55%;
			height: auto;
			position: fixed;
			z-index: -2;
		}

}
