@font-face {
font-family: 'FoundersGrotesk Light';
src: url('fonts/FoundersGrotesk-Light.otf');
src:
local('FoundersGrotesk Light'),
local('FoundersGrotesk-Light'),
url('fonts/FoundersGrotesk-Light.otf')
format('opentype');
font-weight: light;
}
/*semibold version*/
@font-face {
font-family: 'FoundersGrotesk Semibold';
src: url('fonts/FoundersGrotesk-Semibold.otf');
src:
local('FoundersGrotesk Semibold'),
local('FoundersGrotesk-Semibold'),
url('fonts/FoundersGrotesk-Semibold.otf')
format('opentype');
font-weight: semibold;
}

@import "@material/elevation/mdc-elevation";
/* material desing symbols */
.material-icons {
font-family: 'Material Icons';
font-weight: normal;
font-style: normal;
font-size: 24px;  /* Preferred icon size */
display: inline-block;
line-height: 0;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
direction: ltr;

/* Support for all WebKit browsers. */
-webkit-font-smoothing: antialiased;
/* Support for Safari and Chrome. */
text-rendering: optimizeLegibility;

/* Support for Firefox. */
-moz-osx-font-smoothing: grayscale;

/* Support for IE. */
font-feature-settings: 'liga';
}

h2{
font-family: 'FoundersGrotesk Semibold';
font-size: 42px;
font-weight: normal;
color: white;
letter-spacing: 0px;
line-height: 40px;
}

h3{
font-family: 'FoundersGrotesk Semibold';
font-size: 14px;
font-weight: normal;
color: white;
letter-spacing: .03em;
line-height: 0;
}


body {
font-family: 'FoundersGrotesk Light';
font-size: 18px;
font-weight: light;
color: white;
letter-spacing: 0px;
line-height: 30px;

margin: 0 5% 0 5%;
padding-bottom: 0px;
padding-top: 0px;
background-color: #333333;
}

/* #backgroundImage{
	height: 100%;
} */

#backgroundImage img{
	height: 100%;
}

ul {
list-style: none;
}

li:hover{
/* opacity: 1; */
cursor: pointer;
}

a {
color:inherit;
text-decoration: none;
}

#block{
width: 100%;
/* position: relative; */
top: 0;
left: 0;
margin-left: 0;
padding-left:0;
}

.navBox{
	position: fixed;
	top: 0;
	left: 0;
	height: 78px;
	/* min-height: 50px; */
	width: 100%;
	clear: both;
	margin: 0 0 0 0;
	/* box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5); */
	z-index: 5;
}


.navBar{
display: flex;
flex: 200px;
font-family: 'FoundersGrotesk Semibold';
font-size: 14px;
font-weight: normal;
color: white;
text-align: right;
letter-spacing: 0.05em;
line-height: 25px;
align-items: center;


margin: 0 0 0 0;
padding-left: 5%;
padding-right: 5%;
height: 120px;
}

.navLogo{
flex: 5;
margin-right: auto;
text-align: left;
opacity: 1;
}

#enneadLogo{
width:140px;
height: 21px;
padding-top: 5px;
}

.navActive{
margin-bottom: 0px;
display: inline-block;
text-decoration: none;
line-height: 0.85;
opacity: 1;
}

.navActive::after {
content: '';
display: block;
width: 0;
height: 2px;
background: #000;
transition: width .3s;
}

.navActive:hover::after {
width: 100%;

}

.navLink{
flex: 1;
opacity: .5;
text-decoration: none;
margin-bottom: 0px;
display: inline-block;
line-height: 0.85;
transition: opacity .35s ease-out;
-moz-transition: opacity .35s ease-out;
-webkit-transition: opacity .35s ease-out;
-o-transition: opacity .35s ease-out;
}

.backButton{
position: fixed;
display: flex;
vertical-align: middle;
align-items: center;
cursor: pointer;

top: 13%;
left: 5.5%;
/* padding-left: 3%; */
}


.backButton:hover #backArrow{
transform: translate3d(-12px, 0px, 0px);
}

.button {
  /* background-color: white; */
  /* border: solid 2px white; */
	border: solid 2px white;
  padding: 5px 15px;
	padding-top: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;

	font-family: 'FoundersGrotesk Semibold';
	font-size: 14px;
	font-weight: normal;
	color: white;
	letter-spacing: .03em;

	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.button:hover {
	background-color: white;
	color: #333333;
}


#backArrow{
padding-left: 20px;
transform: translate3d(0px, 0px, 0px);
transition: transform .35s ease-in-out;
width:75px;
height:14px
}

.progressBar{
/* display: flex; */
flex-direction: column;
position: fixed;
align-items: center;
height: auto;

margin: 0;
top: 25%;
left: 5%;
padding-left: 3%;
opacity: .8;
transition: opacity .2s ease-out;
-moz-transition: opacity .2s ease-out;
-webkit-transition: opacity .2s ease-out;
-o-transition: opacity .2s ease-out;
}


.progressStep{
	width: .38em;
	height: .38em;
	border-radius: 50%;
	background: white;
	/* margin-bottom: 33.5em; */
	/* margin-left: .1em; */
}

.progressStep::before{
	content: '';
	position: absolute;
	top: 0;
	right: .17em;
	width: 1px;
	/* height: 34em; */
	background: white;
	z-index: -1;
}

.progressActive{
	width: .6em;
	height: .6em;
	border-radius: 50%;
	background: white;
	/* margin-bottom: 9em; */
	opacity: 0;
}

.progressLink{
	width: 1.2em;
	height: 1.2em;
	border-radius: 50%;
	opacity: 1;
	background: rgb(255,255,255, 0);
	/* margin-bottom: 32.5em; */
	margin-right: .1em;
	z-index: -1;
}

.activeLink{
	width: 1.2em;
	height: 1.2em;
	border-radius: 50%;
	opacity: 0;
	background: rgb(255,255,255, 0.25);
	/* margin-bottom: 32.5em; */
	margin-right: .1em;
}

.learnMoreActive{
	visibility: visible;
}

.learnMoreHidden{
	visibility: hidden;
}

.progressBar:hover{
opacity: 1;
}

.activeStep{
box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.25);
transition: box-shadow 0.3s linear;
}

.progressStep:hover{
cursor: pointer;
/* border: 8px solid; */
/* border-color: rgba(51,51,51, 0.25) */
}

.progressStep:first-child::before {
display: none;
}

.progressBarLinks{
display: flex;
flex-direction: column;
position: fixed;
align-items: center;

margin: 0;
top: 24.5%;
left: 4.65%;
padding-left: 3%;
transition: opacity .2s ease-out;
-moz-transition: opacity .2s ease-out;
-webkit-transition: opacity .2s ease-out;
-o-transition: opacity .2s ease-out;

z-index: 1
}

.tooltip {
opacity: 1;
position: relative;
display: inline-block;
}

.tooltip .tooltiptext {
/* visibility: hidden; */
width: 130px;

font-family: 'FoundersGrotesk Semibold';
font-size: 14px;
font-weight: normal;
color: white;
letter-spacing: .03em;
line-height: 18px;

text-align: left;
border-radius: 3px;
padding: 3px 0;
position: absolute;
z-index: 1;
top: 2px;
left: 150%;

opacity: 0;
-webkit-transition: opacity 300ms ease-in-out;
transition: opacity 300ms ease-in-out;
}

.progressLink:hover .tooltiptext {
opacity: .8;
}
.activeLink:hover .tooltiptext {
opacity: .8;
}

.hptooltip {
position: relative;
display: inline-block;
}

.hptooltip .hptooltiptext {
/* visibility: hidden; */
width: 120%;
/* overflow: auto; */

font-family: 'FoundersGrotesk Semibold';
font-size: 10px;
font-weight: normal;
color: white;
letter-spacing: .05em;
line-height: 18px;
background-color: #333333;

text-align: center;
border-radius: 3px;
padding: 2px 0px;
padding-top: 4px;
position: absolute;
z-index: 1;
top: -10px;
left: 0%;

opacity: 0;
-webkit-transition: opacity 300ms ease-in-out;
transition: opacity 300ms ease-in-out;
}


.box:hover .hptooltiptext {
opacity: .8;
}


#prevSection{
opacity: .2;
}

.progressCounter{
position:absolute;
display: inline;

font-family: 'FoundersGrotesk light';
font-size: 14px;
color: white;
letter-spacing: .03em;
line-height: 0;
white-space: nowrap;
float: left;
top: 40em;
left: -40px;
/* padding-bottom: 7.23em; */
vertical-align: middle;

/* Safari */
-webkit-transform: rotate(-90deg);
/* Firefox */
-moz-transform: rotate(-90deg);
/* IE */
-ms-transform: rotate(-90deg);
/* Opera */
-o-transform: rotate(-90deg);
z-index: 5;
}

.material-icons{
vertical-align: middle;
font-size: 2px;
padding-bottom: 2px;
}

.box {
width:7%;
height:7%;
position: absolute;

z-index: 1;
}

.clickable{
cursor: pointer;
padding: 5px;
margin: -5px;
}

.scrollingText{
	position: fixed;
	top: 25%;
	width: 22.5%;
	right: 100px;
}

#hotspotWindow{
	position: fixed;
	top: 22.5%;
	width: 22.5%;
	right: 100px;
	padding: 40px 30px;
	background-color: white;
	z-index: 2;
	visibility: hidden;

	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.windowHidden{
opacity: 0;
transition: opacity .6s;
}

.windowVisible{
opacity: 1;
transition: opacity .6s;
}

#hotspotWindow img{
width: 100%;
}

#imageCarousel{
padding-top: 20px;
}


.scrollingContainer img{
	display: block;
	max-width: 100%;
}

#diagramFront{
	top:0px;
	left:0px;
	z-index: -1;
}


.windowNav {
display: flex;
justify-content: space-between;
z-index: 5;
}

::-webkit-scrollbar {
display: none;
}

@media all and (max-width:480px) {

	h2 {
		font-size: 22px;
		line-height: 22px;}

	h3 {
		font-size: 12px;}

	body{
		font-size: 14px;
		line-height: 20px;}

	.scrollingText{
		position:fixed;
		top: 22.5%;
		width: 78%;
		right: auto;
	}

	.progressBar{
		display: none;
	}

	.progressBarLinks{
		display: none;
	}

	.progressCounter{
		display: none;
	}

	.navQuote{
		display: none;
	}


	#enneadLogo{
		width:108px;
		height:16px;
	}

	.navBar{
		height: 70px;
	}

	.navBox{
		height: 70px;
	}

}

@media all and (max-width:600px) and  (min-width:481px){

	h2 {
		font-size: 28px;
		line-height: 24px;}

	h3 {
		font-size: 16px;}

	body{
		font-size: 16px;
		line-height: 20px;}

	.progressBar{
		display: none;}

	.progressBarLinks{
		display: none;}

	.progressCounter{
		display: none;}

	#enneadLogo{
		width:120px;
		height:18px;}

}

@media all and (max-width:768px) and (min-width:601px){
	h2 {
		font-size: 32px;
		line-height: 30px;}
	h3 {
		font-size: 18px;}
	body{
		font-size: 18px;
		line-height: 32px;}

	.progressBar{
		display: none;
	}
	.progressBarLinks{
		display: none;
	}

	.progressCounter{
		display: none;
	}

	.box{
		display: none;
	}

	.navBar{
		height: 70px;
	}

	.navBox{
		height: 70px;
	}

	.scrollingText{
		position:fixed;
		top: 18%;
		width: 78%;
		right: auto;
	}

	.backButton{
		top: 100px;
	}

	#hotspotWindow{
		right: 5%;
	}

	#enneadLogo{
		width:120px;
		height:18px;
	}

	.button {
		padding: 5px 12px;
		padding-top: 8px;

		font-size: 18px;

	}

}

@media all and (max-width:1200px) and (min-width:769px){

	h2 {
		font-size: 28px;
		line-height: 28px;}
	h3 {
			font-size: 12px;}
	body{
			font-size: 14px;
			line-height: 25px;}

	.navBar{
			height: 70px;	}

	.navBox{
			height: 70px;}

	#hotspotWindow{
			right: 5%;
			padding: 25px 25px;
			}


	.progressCounter{
			display: none;	}

	.tooltip{
			display: none;}

	.hptooltip .hptooltiptext{
			display: none;	}

	.scrollingText{
			position: fixed;
			top: 27%;
			width: 22.5%;
			right: 5%;	}

	.button {
			padding: 4px 12px;
			padding-top: 6px;
			font-size: 12px;
	}

	#enneadLogo{
			width:120px;
			height:18px;	}

}

	@media all and (max-width:1600px) and (min-width:1201px) {

	h2 {
		font-size: 38px;
		line-height: 38px;}
	h3 {
		font-size: 14px;}
	body{
		font-size: 16px;
		line-height: 30px;
	}

	.scrollingContainer img{
		display: block;
		max-width: 100%;
	}

	/* .hotspotContainer {
		top: 30%;
		left: 150px;
		position: fixed;
		z-index: 1;
	} */

	#enneadLogo{
		width:120px;
		height:18px;
	}
}
